@charset "UTF-8";
/* CSS Document */
.er{color:gold; position: relative;bottom: 49px;}
.x{color:darkred;}
footer {height:75px; width:100%;background-color: ghostwhite;opacity: .6;text-align:center;color:chocolate;font-size: 22px;position: relative;top;600px;}
.v{width: 100%;height:355px;color:darkorchid;}
.h{border-radius: 25px;width:100%; height:515px; background-color: azure; opacity:.8;}
.s{margin-left: 35px; color:goldenrod;position: relative;top: px}  .t{position: relative;top:px}
.f {margin-right: 10px; margin-top: 10px; border-radius: 15px;width:100%; height:170px; background-color:darkgray; text-align: center; color: darkmagenta }
audio {margin-left: 40px;} p {margin-left: 20px;font-size: 26px;color: orange}
h3{ width:100%; height:200px;} h3{background-color: ghostwhite;opacity: .8;text-align: center;color:darkmagenta;border-radius: 30px;margin-top: 70px;}
span {position: relative;top: 50px;}
div {border-radius: 25px;width:100%; height:300px; background-color: azure; opacity:.8;; position: relative;: 250px;}
article{width: 100%; height: 100%;}


h2{font-size: 16px; margin-left: 35px; color:darkorange;} h2 .s{margin-left: 35px; color:darkgoldenrod;} 
section{background-color:aliceblue;opacity: .7; width:100%; height:404px;margin-left: 0px; border-radius: 55px;}
h1{ width:100%; height:200px;} h1{background-color: ghostwhite;opacity: .6;text-align: center;color:black;border-radius: 55px;}  


<style>
    { margin: 0; padding: 0; }
    body { 
        background: url('pics/1hip.jpg') no-repeat    ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; height:100%; 
    }
</style> 


@media screen and (min-width:320px) and (max-width: 700px){
}

