@charset "UTF-8";


@import url("/css/services1.css");
/* CSS Document */

<style>
    { margin: 0; padding: 0; }
    body { 
        background: url('pics/bg1.jpg') no-repeat    ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  width: 320px; height:768px;
    }
</style>


body {height: 768px; width:320px;}
article {height:100%; width:320;}  .one {display: none;}  

   
li {display:block; margin-left: 50px; margin-bottom: 20px;}      ul {width:320px; margin-right: 20px;}         


p { margin-top: 300px; font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; color: white; font-size: 18px;} h2 {margin-right: 100px;}
footer {height:250px; width:100%; margin-top:40px;}   
section {display: block;  margin-left: 40px; margin-bottom:  30px; margin-top:60px; font-size: 18px; color: gold;font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"}  #li{float: left; width: 100%;} span {color: black; font-size: 18px;} #kop {display: none;} .free {color: aliceblue;}

 #two { background-image: url(pics/cat.jpg); width: 290px; height: 290px;}
 #three { background-image: url(pics/dog.jpg); width: 290px; height: 290px;}
    #four { background-image: url(pics/lov.jpg.png); width: 290px; height: 290px;}
   #five { background-image: url(pics/frog.jpg); width: 290px; height: 290px;}

.slider {position: relative; left: 10px;}

slide-viewer {
	position: relative; left: 0px;
	overflow: hidden;
	height: 290px; width:290px;
}
.slide-group { margin-right: 30px;
	width: 100%;
	height: 100%;
	position: absolute;
}
.slide{
	width: 100%;
	height: 100%;
	display: none;
	position: relative; 
}
.slide:first-child{display: block;}







/* CSS Document */

@media screen and (min-width:320px) and (max-width: 415px){
}
